<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Vaccination</title>


    <style>

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

        table{
            border: solid 2px red;
            border-collapse: collapse;
            -webkit-border-horizontal-spacing: 2px;
            -webkit-border-vertical-spacing: 2px;
            font-size: 16px;
        }
    .css-1pp4cxb{width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    position: relative;
    line-height: 1.2;
        }

    .scrollTable{
      margin: 50px auto;
    }

    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<a class="navbar-brand" href="#"><h1>SmartHelth</h1></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto">
  <li class="nav-item active">
    <a class="nav-link" href="/Vaccination">Home <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/">Main Menu</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Vaccination/vaccin_schedule">Schedule</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">SignUp</a>
  </li>
</ul>
<form class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
</div>
</nav>






<div class="scrollTable css-1iwt4bv container my-50">

  <h3>Vaccination Schedule</h3>
    <table id="t1529622121870" class="responsive hl-two-axis-table css-1pp4cxb">
        <tr>
            <th class="topHeader leftHeader"></th>
            <th class="topHeader">Birth</th>
            <th class="topHeader">2 months</th>
            <th class="topHeader">4 months</th>
            <th class="topHeader">6 months</th>
            <th class="topHeader">1 year</th>
            <th class="topHeader">15–18 months</th>
            <th class="topHeader">4–6 years</th>
        </tr>
        <tr>
            <td class="leftHeader">HepB</td>
            <td>1st dose</td>
            <td>2nd dose (age 1–2 months)</td>
            <td>—</td>
            <td>3rd dose (age 6–18 months)</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
        </tr>
        <tr>
            <td class="leftHeader">RV</td>
            <td>—</td>
            <td>1st dose</td>
            <td>2nd dose</td>
            <td>3rd dose (in some cases)</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
        </tr>
        <tr>
            <td class="leftHeader">DTaP</td>
            <td>—</td>
            <td>1st dose</td>
            <td>2nd dose</td>
            <td>3rd dose</td>
            <td>—</td>
            <td>4th dose</td>
            <td>5th dose</td>
        </tr>
        <tr>
            <td class="leftHeader">Hib</td>
            <td>—</td>
            <td>1st dose</td>
            <td>2nd dose</td>
            <td>3rd dose (in some cases)</td>
            <td>Booster dose (age 12–15 months)</td>
            <td>—</td>
            <td>—</td>
        </tr>
        <tr>
            <td class="leftHeader">PCV</td>
            <td>—</td>
            <td>1st dose</td>
            <td>2nd dose</td>
            <td>3rd dose</td>
            <td>4th dose (age 12–15 months)</td>
            <td>—</td>
            <td>—</td>
        </tr>
        <tr>
            <td class="leftHeader">IPV</td>
            <td>—</td>
            <td>1st dose</td>
            <td>2nd dose</td>
            <td>3rd dose (age 6–18 months)</td>
            <td>—</td>
            <td>—</td>
            <td>4th dose</td>
        </tr>
        <tr>
            <td class="leftHeader">Influenza</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
            <td>Yearly vaccination (seasonally as appropriate)</td>
            <td>Yearly vaccination (seasonally as appropriate)</td>
            <td>Yearly vaccination (seasonally as appropriate)</td>
            <td>Yearly vaccination (seasonally as appropriate)</td>
        </tr>
        <tr>
            <td class="leftHeader">MMR</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
            <td>1st dose (age 12–15 months)</td>
            <td>—</td>
            <td>2nd dose</td>
        </tr>
        <tr>
            <td class="leftHeader">Varicella</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
            <td>1st dose (age 12–15 months)</td>
            <td>—</td>
            <td>2nd dose</td>
        </tr>
        <tr>
            <td class="leftHeader">HepA</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
            <td>2 dose series (age 12–24 months)</td>
            <td>—</td>
            <td>—</td>
        </tr>
    </table>
    <div class="scrollImage">

    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>